*{
	margin: 0;
	padding: 0;
}

html, body {
	overflow: hidden;
}

#threeCanvas{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/* From uiverse.io */
button {
    POSITION: absolute;
    TOP: 0;
    LEFT: 0;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #d8ca4d;
    box-shadow: 0px 15px 20px rgba(211, 229, 46, 0.4);
  }
  
  button:active {
    transform: translateY(-1px);
  }

  #loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  
  #loading .progress {
    margin: 1.5em;
    border: 1px solid white;
    width: 50vw;
  }
  
  #loading .progressbar {
    margin: 2px;
    background: white;
    height: 1em;
    transform-origin: top left;
    transform: scaleX(0);
  }